@using ExaminationSystemITI.Models.ViewModels
@using ExaminationSystemITI.Abstractions.Enums

@model StudentDepartmentsViewModel;

@{
    ViewData["Title"] = "Edit";
    var departments = ViewBag.Departments;
    Layout = "_DashboardLayout";
}

<h1 class="poppins-bold" style="color: var(--custom-black)">Edit Student</h1>
<hr style="backround-color: var(--custom-black); color: var(--custom-black); height: 1px;" />
<div class="row w-100">
    <div class="col-md-4 w-100">
        <form method="post" class="d-flex flex-column" style="gap: 16px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.Id" />
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Student.FirstName" value="@Model.Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Student.LastName" value="@Model.Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Age" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Student.Age" value="@Model.Student.Age" class="form-control" />
                <span asp-validation-for="Student.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Gender" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <select asp-for="Student.Gender" class="form-control">
                    <option value="@Model.Student.Gender">Select Gender</option>
                    @foreach (var gender in Enum.GetValues(typeof(EGender)))
                    {
                        <option value="@gender">@gender</option>
                    }
                </select>
                <span asp-validation-for="Student.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Address" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Student.Address" value="@Model.Student.Address" class="form-control" />
                <span asp-validation-for="Student.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Faculty" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Student.Faculty" value="@Model.Student.Faculty" class="form-control" />
                <span asp-validation-for="Student.Faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.GraduationYear" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Student.GraduationYear" value="@Model.Student.GraduationYear" class="form-control" />
                <span asp-validation-for="Student.GraduationYear" class="text-danger"></span>
            </div>

            <div class="form-group d-none">
                <label asp-for="Student.DepartmentId" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <select asp-for="Student.DepartmentId" value="@Model.Student.DepartmentId" class="form-control">
                    <option value="">Select Department</option>
                    @foreach (var department in departments)
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                </select>
            </div>

            <div class="form-group d-none">
                <label asp-for="Student.Email" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Student.Email" value="@Model.Student.Email" class="form-control" />

            </div>

            <div class="form-group w-100 d-flex flex-column" style="margin-top: 8px; gap: 8px;">
                <input type="submit" value="Edit" class="poppins-semibold w-100 rounded" style="border: none; background-color: var(--custom-red); color: var(--custom-white); padding: 8px 16px;" />
                <a asp-action="read" asp-controller="student" class="w-100 poppins-semibold rounded" style="background-color: var(--custom-white); color: var(--custom-red);padding: 8px 16px; border: solid 1px var(--custom-red); text-decoration: none; text-align: center;">
                    Go Back
                </a>
            </div>
        </form>
    </div>
</div>