@using ExaminationSystemITI.Models.Tables
@model List<Choice>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashboardLayout";
}

<seciton class="w-100 d-flex flex-column" style="gap: 16px;">
    <select id="navigate" class="form-select w-100">
        <option class="form-control" value="/admin/read">Admin</option>
        <option class="form-control" value="/choice/read" selected>Choice</option>
        <option class="form-control" value="/course/read">Course</option>
        <option class="form-control" value="/department/read">Department</option>
        <option class="form-control" value="/exam/read">Exam</option>
        <option class="form-control" value="/instructor/read">Instructor</option>
        <option class="form-control" value="/question/read">Question</option>
        <option class="form-control" value="/student/read">Student</option>
        <option class="form-control" value="/topic/read">Topic</option>
        <option class="form-control" value="/user/read">User</option>
    </select>
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Choice?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a id="deleteChoiceLink" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <table class="get-data table table-border table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="9">No Choices Exist!</td>
                </tr>
            }
            else
            {
                foreach (var choice in Model)
                {
                    <tr>
                        <td>@choice.Id</td>
                        <td>@choice.Text</td>
                        <td style="white-space: nowrap;">
                            <a asp-action="Edit" asp-controller="Choice" asp-route-id="@choice.Id" asp-route-text="@choice.Text" class="btn btn-primary poppins-semibold rounded" style="padding: 8px 16px; border: none;transition-duration: 0.25s; text-decoration: none; text-align: center;">
                                Update
                            </a>
                            <a asp-action="Delete" asp-controller="Choice" asp-route-id="@choice.Id" asp-route-text="@choice.Text" class="btn btn-danger poppins-semibold rounded" style="padding: 8px 16px; border: none;text-decoration: none; text-align: center;" onclick="return confirm('Are you sure?')">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <script>
        // Function to handle deletion confirmation
        function confirmDelete(id,text) {
            document.getElementById('deleteChoiceLink').href = '/Choice/Delete?id=' + id + "&text=" + text;
            $('#deleteConfirmationModal').modal('show');
        }

        var selectElement = document.getElementById('navigate');

        selectElement.addEventListener('change', function () {
            var selectedValue = selectElement.value;

            if (selectedValue) {
                window.location.href = selectedValue;
            }
        });
    </script>
</seciton>
