@using ExaminationSystemITI.Models.Tables
@model List<Choice>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashboardLayout";
}

<seciton class="w-100 d-flex flex-column" style="gap: 16px;">
    <select class="form-select w-100">
        <option class="form-control">Admin</option>
        <option class="form-control" selected>Choice</option>
        <option class="form-control">Course</option>
        <option class="form-control">Department</option>
        <option class="form-control">Exam</option>
        <option class="form-control">Instructor</option>
        <option class="form-control">Question</option>
        <option class="form-control">Student</option>
        <option class="form-control">Topic</option>
        <option class="form-control">User</option>
        <option class="form-control">Admin</option>
    </select>
    <a asp-action="create" asp-controller="choice" class="btn btn-success poppins-semibold rounded" style="padding: 8px 16px; border: none;text-decoration: none; text-align: center;">
        Create
    </a>
    <table class="get-data table table-border table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="9">No Choices Exist!</td>
                </tr>
            }
            else
            {
                foreach (var choice in Model)
                {
                    <tr>
                        <td>@choice.Id</td>
                        <td>@choice.Text</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Choice" asp-route-qid="@choice.Id" asp-route-text="@choice.Text" class="btn btn-primary poppins-semibold rounded" style="padding: 8px 16px; border: none;transition-duration: 0.25s; text-decoration: none; text-align: center;">
                                Update
                            </a>
                            <a asp-action="Delete" asp-controller="Choice" asp-route-qid="@choice.Id" asp-route-text="@choice.Text" class="btn btn-danger poppins-semibold rounded" style="padding: 8px 16px; border: none;text-decoration: none; text-align: center;" onclick="return confirm('Are you sure?')">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</seciton>
