@using ExaminationSystemITI.Models.Tables
@model ExaminationSystemITI.Models.Tables.Instructor


@{
    ViewData["Title"] = "Edit";
    Layout = "_DashboardLayout";
}

<h1 class="poppins-bold" style="color: var(--custom-black)">Edit Instructor</h1>
<hr style="backround-color: var(--custom-black); color: var(--custom-black); height: 1px;" />
<div class="row w-100">
    <div class="col-md-4 w-100">
        <form method="post" class="d-flex flex-column" style="gap: 16px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="FirstName" value="@Model.FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="LastName" value="@Model.LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Age" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Age" value="@Model.Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Salary" value="@Model.Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label poppins-semibold mb-1" style="color: var(--custom-black)"></label>
                <input asp-for="Address" value="@Model.Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" value="@Model.Email" class="form-control" type="hidden" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="form-group w-100 d-flex flex-column" style="margin-top: 8px; gap: 8px;">
                <input type="submit" value="Edit" class="poppins-semibold w-100 rounded" style="border: none; background-color: var(--custom-red); color: var(--custom-white); padding: 8px 16px;" />
                <a asp-action="read" asp-controller="Instructor" class="w-100 poppins-semibold rounded" style="background-color: var(--custom-white); color: var(--custom-red);padding: 8px 16px; border: solid 1px var(--custom-red); text-decoration: none; text-align: center;">
                    Go Back
                </a>
            </div>

        </form>


