@using ExaminationSystemITI.Models.Tables
@model List<Instructor>
<h1>All Instructors</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Instructor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Address</th>
            <th>Email</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var instructor in Model)
        {
            <tr>
                <td>@instructor.ID</td>
                <td>@instructor.FirstName</td>
                <td>@instructor.LastName</td>
                <td>@instructor.Age</td>
                <td>@instructor.Salary</td>
                <td>@instructor.Address</td>
                <td>@instructor.Email</td>
                <td><a asp-controller="Instructor" asp-action="Edit" asp-route-id="@instructor.ID" class="btn btn-primary">EDIT</a></td>
            </tr>
        }
    </tbody>
</table>

