@* @using ExaminationSystemITI.Models.Tables
@using ExaminationSystemITI.Abstractions.Enums

@model List<Question>

<h1>Display</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Question ID</th>
            <th>Question</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.Id</td>
                <td>
                    @question.Title<br /> <ul>
                        @if (question.Type == EQuestionType.TrueOrFalse)
                        {
                            <li>True</li>
                            <li>False</li>
                        }
                        else
                        {
                            @foreach (var choice in question.Choices)
                            {
                                <li>@choice.Text</li>
                            }
                        }
                    </ul>
                    <br />
                </td>
            </tr>
        }
    </tbody>
</table>
 *@

@* @using ExaminationSystemITI.Models.Tables
@using ExaminationSystemITI.Abstractions.Enums

@model List<Question>

<form method="post" action="/Exam/SubmitAnswers">
    <h1>Exam Questions</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Question Number</th>
                <th>Question</th>
                <th>Choices</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                var question = Model[i];
                var questionNumber = i + 1;
                <tr>
                    <td>@questionNumber</td>
                    <td>@question.Title</td>
                    <td>
                        @if (question.Type == EQuestionType.TrueOrFalse)
                        {

                            <input type="radio" id="true @questionNumber" name="@questionNumber" value="True">
                            <label for="@questionNumber">True</label>

                            <input type="radio" id="false @questionNumber" name="@questionNumber" value="False">
                            <label for="@questionNumber">False</label>
                        }
                        else
                        {
                            foreach (var choice in question.Choices)
                            {
                                <div>
                                    <input type="radio" id="choice @choice.QuestionId" name="@choice.QuestionId" value="@choice.Text">
                                    <label for="@choice.QuestionId">@choice.Text</label>
                                </div>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit Answers</button>
</form> *@


 
@using ExaminationSystemITI.Models.Tables
@using ExaminationSystemITI.Abstractions.Enums
@using ExaminationSystemITI.Models.ViewModels
@model List<Question>


<form method="post" action="/Exam/SubmitAnswers">
    <h1>Exam Questions</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Question Number</th>
                <th>Question</th>
                <th>Choices</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                var question = Model[i];
                var questionNumber = i + 1;
                <tr>
                    <td>@questionNumber</td>
                    <td>@question.Title</td>
                    <td>
                        <input type="hidden" name="Answers[@i].QuestionId" value="@question.Id" />
                        @if (question.Type == EQuestionType.TrueOrFalse)
                        {
                            <input type="radio" id="true@questionNumber" name="Answers[@i].Answer" value="True" />
                            <label for="true@questionNumber">True</label>

                            <input type="radio" id="false@questionNumber" name="Answers[@i].Answer" value="False" />
                            <label for="false@questionNumber">False</label>
                        }
                        else
                        {
                            foreach (var choice in question.Choices)
                            {
                                <div>
                                    <input type="radio" id="choice@choice.Id" name="Answers[@i].Answer" value="@choice.Text" />
                                    <label for="choice@choice.Id">@choice.Text</label>
                                </div>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit Answers</button>
</form>




@*
    Tarek's View DONT DELETE!!!!!!

    @using ExaminationSystemITI.Models.Tables
@model List<Question>

@{
    int counter = 0;
    string progres = "0%";
}


<header class="w-100 custom-wrapper d-flex justify-content-center align-items-center shadow" style="background-color: var(--custom-white); height: 120px;">
    <img src="~/assets/images/logos/logo.svg" class="w-100" style="max-width: 120px;" alt="ITI Logo" />
</header>



<section style="padding:0 160px ;">


    <div class="progress" style="display:flex;margin-left:15%">
        <div class="progress-bar" role="progressbar" style="width:@progres ;" aria-valuenow="@counter" aria-valuemin="0" aria-valuemax="100">@progres</div>
    </div>




    <div style="display:flex; justify-content: center; width: 100%;height: 100%vh;">
        <h1>ITI EXAMS</h1>
    </div>

    <br />

    <div>
   
        <form >


            <div class=" d-flex flex-column" style="gap:40px;">


            @foreach (var item in Model)
            {

                <div id="@item.Title">


                    <label >@item.Title</label>
                       
                    <br />
                    <input type="radio" id="option1" name="@item.Title" value="@item.Choices." onclick="()=>{@counter+=(1/@Model.Count())*100 ; @progres=$"@counter %"}">
                    <label for="option1">Option 1</label>

                    <br>
                    <input type="radio" id="option1" name="@item.Title" value="option2">
                    <label for="option2">Option 2</label>

                    <br>

                    <input type="radio" id="option2" name="@item.Title" value="option3">
                    <label for="option3">Option 3</label>

                    <br>

                        <input type="radio" id="option4" name="@item.Title" value="option4">
                        <label for="option4">Option 4</label>

                        <br>

                </div>

        
            }
         
           <br />

          </div>
          <div class="d-flex flex-row justify-content-center">
                <input type="button" value="Submit" class="btn btn-lg  d-flex justify-content-center " style="background-color:var(--custom-red) ;color:var(--custom-white);margin-bottom:20px" />

          </div>

        </form>

    </div>



</section>






@*     <form>
        @foreach (var question in Model)
        {
            <label>@question.Title</label>

            <br>

            @foreach (var choice in Model)
            {
                <input type="radio" id="@choice.Id" name="@question.Id" value="@choice.Id">
                <label for="@choice.Id">@choice.Text</label>

                <br>
            }

            <br>
        }
    </form>
 *@
