
@using ExaminationSystemITI.Models.Tables
@using ExaminationSystemITI.Abstractions.Enums
@using ExaminationSystemITI.Models.ViewModels
@model List<Question>

@{
    int counter = 0;
    string progres = "0%";
}

<header class="w-100 custom-wrapper d-flex justify-content-center align-items-center shadow" style="background-color: var(--custom-white); height: 120px;">
    <img src="~/assets/images/logos/logo.svg" class="w-100" style="max-width: 120px;" alt="ITI Logo" />
</header>

<section class="container" style="padding: 0 15px;">

    <div class="progress mt-3">
        <div class="progress-bar" role="progressbar" style="width: @progres;" aria-valuenow="@counter" aria-valuemin="0" aria-valuemax="100">@progres</div>
    </div>

    <div class="text-center my-4">
        <h1 class="fw-bold" style="color:var(--custom-red)">ITI EXAMS</h1>
    </div>

    <form method="post" action="/Exam/SubmitAnswers" class="mb-4">
        <div class="d-flex flex-column gap-3">
            @for (var i = 0; i < Model.Count; i++)
            {
                var question = Model[i];
                var questionNumber = i + 1;

                <div class="mb-4 border p-3">
                    <h5 style="color:var(--custom-black)" class="fw-semibold">@questionNumber. @question.Title</h5>
                    <input type="hidden" name="Answers[@i].QuestionId" value="@question.Id" />
                    @if (question.Type == EQuestionType.TrueOrFalse)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="true@questionNumber" name="Answers[@i].Answer" value="True" />
                            <label style="color:var(--custom-black)" class="form-check-label fw-medium" for="true@questionNumber">True</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="false@questionNumber" name="Answers[@i].Answer" value="False" />
                            <label style="color:var(--custom-black)" class="form-check-label fw-medium" for="false@questionNumber">False</label>
                        </div>
                    }
                    else
                    {
                        foreach (var choice in question.Choices)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="choice@choice.Id" name="Answers[@i].Answer" value="@choice.Text" />
                                <label style="color:var(--custom-black)" class="form-check-label fw-medium" for="choice@choice.Id">@choice.Text</label>
                            </div>
                        }
                    }
                </div>
            }
            <div class="text-center">
                <button type="submit" class="btn btn-lg" style="background-color: var(--custom-red); color: var(--custom-white);">Submit</button>
            </div>
        </div>
    </form>
</section>


   




