@using ExaminationSystemITI.Models.Tables
@model List<Course>
<h1>All Courses</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Grade</th>
            <th>Topics</th>
            @*<th>Exams</th>
            <th>Departments</th>
            <th>Instructors</th>
            <th>Students</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Name</td>
                <td>@course.Grade</td>
                <td>
                    @foreach( var topic in course.Topics )
                    {
                        <span class="mr-1">
                            @topic.Name,
                        </span>
                    }
                </td>
                <td><a asp-controller="Course" asp-action="Edit" asp-route-id="@course.Id" class="btn btn-primary">EDIT</a></td>
            </tr>
        }
    </tbody>
</table>

